# Xcode
DerivedData/
build/
*.xcodeproj/
*.xcworkspace/
xcuserdata/
*.xcuserstate
*.moved-aside

# xcodegen-generated
FMail/Info.plist

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.resolved

# macOS
.DS_Store

# Local prefs
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
